@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
/* root */
:root {
	--clr-main: #17234d;
	--clr-light: #916aff;
	--clr-pink: #959dff;
	--clr-dark: #272727;
}
/* root */

.body-tienda {
	display: grid;
	grid-template-columns: 350px repeat(3, 1fr);
	grid-template-rows: 80px auto auto auto;
	grid-template-areas:
		"nav    nav    nav    nav"
		"aside  main   main   main"
		"aside  main   main   main"
		"footer footer footer footer";
	background-color: var(--clr-pink);
}
/* navbar */
.navbar {
	grid-area: nav;
	display: flex;
	justify-content: space-between;
	background-color: var(--clr-main);
}
.navbar > .div-icon {
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 15px;
}

.navbar > .div-icon > a > img {
	width: 100%;
}

.navbar > .div-list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar > .div-list > ul {
	display: flex;
	flex-direction: row;
	gap: 30px;
}

.navbar > .div-list > ul > li > a {
	color: white;
	font-weight: bold;
	display: block;
	position: relative;
	transition: color 0.3s;
}

.navbar > .div-list > ul > li > a::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 3px;
	bottom: -5px;
	background-color: #fff;
	left: 50%;
	transform: translateX(-50%);
	transition: width 0.3s;
	border-radius: 5px;
}

.navbar > .div-list > ul > li > .seleccionado::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 3px;
	bottom: -5px;
	background-color: #fff;
	left: 50%;
	transform: translateX(-50%);
	transition: width 0.3s;
	border-radius: 5px;
}

.navbar > .div-list > ul > li > a:hover::after {
	width: 100%;
}

.navbar > .div-carrito {
	width: 50px;
	margin-right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.navbar > .div-carrito > a > i {
	color: white;
	font-size: 25px;
}

.navbar > .div-carrito > .contenedor-contador {
	position: absolute;
	width: 17px;
	height: 17px;
	right: 0px;
	top: 17px;
	background-color: var(--clr-dark);
	border-radius: 100%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar > .div-carrito > .contenedor-contador > span {
	font-size: 12px;
}

/* navbar */

/* aside */
.aside-tienda {
	grid-area: aside;
	display: flex;
	background-color: var(--clr-light);
	height: 100%;
}

.aside-tienda > .div-botones {
	height: calc(100% - 150px);
	width: 350px;
	display: flex;
	align-items: start;
	margin-top: 130px;
}

.aside-tienda > .div-botones > ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	width: 100%;
	padding: 0px 0px 0px 15px;
	position: sticky;
	top: 230px;
}

.boton {
	width: 100%;
	height: 40px;
	border: none;
	color: white;
	font-weight: bold;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 5px 0px 0px 5px;
	z-index: 1;
}
.active {
	background-color: var(--clr-pink);
	color: var(--clr-dark);
}
/* aside */

/* main */
.main-tienda {
	grid-area: main;
	color: var(--clr-dark);
	text-align: center;
	padding: 5px;
	z-index: 10;
}

.main-tienda > .contenedor-carrito-tienda {
	display: flex;
	justify-content: space-around;
	padding: 20px;
	flex-wrap: wrap;
	gap: 20px;
}

.main-tienda > .contenedor-carrito-tienda > .producto {
	width: 250px;
	border-radius: 10px;
	overflow: hidden;
}

.main-tienda > .contenedor-carrito-tienda > .producto > img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.main-tienda > .contenedor-carrito-tienda > .producto > .detalles {
	background-color: var(--clr-dark);
	margin-top: -5px;
	color: white;
	padding: 5px 5px 0px 5px;
}
.main-tienda > .contenedor-carrito-tienda > .producto > .detalles > h3 {
	margin: 5px 0px;
}

/* boton */
.producto-agregar {
	width: 100px;
	height: 30px;
	margin: 10px 0px;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	background-color: none;
	padding: 0;
	border: none;
	z-index: 2;
	border: var(--clr-light) solid 2px;
	color: var(--clr-light);
}
.producto-agregar .span1 {
	position: absolute;
	width: 0px;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: var(--clr-light);
	z-index: -1;
	transition: 0.3s;
}

.producto-agregar:hover .span1 {
	width: 50%;
}

.producto-agregar:hover {
	color: var(--clr-dark);
}

.producto-agregar .span2 {
	position: absolute;
	width: 0px;
	height: 100%;
	top: 0px;
	right: 0px;
	background-color: var(--clr-light);
	z-index: -1;
	transition: 0.3s;
}

.producto-agregar:hover .span2 {
	width: 50%;
}
/* boton */
/* main */

/* body carrito */
.body-carrito {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 80px auto auto auto;
	grid-template-areas:
		"nav    nav    nav    nav"
		"main   main   main   main"
		"main   main   main   main"
		"footer footer footer footer";
	background-color: var(--clr-pink);
}

.body-carrito > .navbar > .div-carrito {
	background-color: var(--clr-pink);
	border-radius: 5px 5px 0px 0px;
	margin-top: 10px;
}

.body-carrito > .navbar > .div-carrito > a > i {
	color: var(--clr-main);
}

.main-carrito {
	grid-area: main;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 800px;
}

.main-carrito > #titulo-principal-carrito {
	color: var(--clr-dark);
	margin: 20px 0px;
}

.contenedor-carrito {
	width: 800px;
}

.main-carrito > .contenedor-carrito > #carrito-vacio {
	color: var(--clr-dark);
	margin: 20px 0px;
	text-align: center;
}

.carrito-productos {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carrito-productos > .carrito-producto {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: var(--clr-dark);
	color: var(--clr-pink);
	padding: 5px;
	border-radius: 5px;
	margin: 10px 0px;
}

.carrito-productos > .carrito-producto > img {
	width: 50px;
}

.carrito-producto-nombre {
	width: 200px;
}

.carrito-producto-nombre,
.carrito-producto-cantidad,
.carrito-producto-precio,
.carrito-producto-subtotal {
	text-align: center;
}

.carrito-producto-eliminar {
	border: none;
	background-color: transparent;
	padding: 0px 20px;
	cursor: pointer;
	color: var(--clr-pink);
	transition: 0.3s;
	border-radius: 5px;
}

.carrito-producto-eliminar:hover {
	background-color: var(--clr-pink);
	color: var(--clr-dark);
}

#carrito-vacio {
	font-weight: bold;
}

/* body carrito */

/* vaciar y comprar */
.contenedor-carrito {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.carrito-borrar-comprar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 20px 0px;
}

.carrito-borrar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.carrito-comprar {
	display: flex;
	font-weight: bold;
}

#carrito-comprado {
	text-align: center;
	color: var(--clr-dark);
	font-weight: bold;
}

.total {
	display: flex;
	margin-right: 20px;
	align-items: center;
}

/* boton vaciar y comprar */
.btn {
	width: 130px;
	height: 40px;
	color: #fff;
	font-weight: bold;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	background-color: none;
	padding: 0;
	border: none;
	z-index: 2;
	border: var(--clr-main) solid 2px;
	color: var(--clr-main);
}
.btn .span1 {
	position: absolute;
	width: 0px;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: var(--clr-main);
	z-index: -1;
	transition: 0.3s;
}

.btn:hover .span1 {
	width: 50%;
}

.btn:hover {
	color: var(--clr-pink);
}

.btn .span2 {
	position: absolute;
	width: 0px;
	height: 100%;
	top: 0px;
	right: 0px;
	background-color: var(--clr-main);
	z-index: -1;
	transition: 0.3s;
}

.btn:hover .span2 {
	width: 50%;
}
/* boton vaciar y comprar */
/* vaciar y comprar */

/* desabilitar objetos */
.displayNone {
	display: none;
}
/* desabilitar objetos */

/* sweetAlert */
.swal2-popup {
	-webkit-box-shadow: 0px 5px 18px 5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 18px 5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 18px 5px rgba(0, 0, 0, 0.75);
}

.swal2-confirm {
	padding: 10px;
	width: 100px;
	color: #916aff;
	background-color: transparent;
	border: 2px solid #916aff;
	border-radius: 3px;
	cursor: pointer;
	font-family: "Rubik", sans-serif;
	font-weight: bold;
	transition: 0.3s;
}

.swal2-confirm:hover {
	color: #272727;
	background-color: #916aff;
}

/* sweetAlert */

/* footer */
footer {
	grid-area: footer;
	background-color: var(--clr-main);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

footer > p {
	color: white;
	font-weight: bold;
	font-size: smaller;
	margin: 10px 0px;
}

.flx {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	margin-bottom: 10px;
}
.redSocial,
.redSocial:hover,
.redSocial:active {
	text-decoration: none;
	color: inherit;
}
.redSocial {
	transition: background 0.3s, color 0.3s;
}
.redSocial i {
	transition: transform 0.3s;
}
.redSocial {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px 20px;
	@media (max-width: 360px) {
		margin: 5px 10px;
	}
}
.red-in {
	background-color: #0e76a8;
}
.red-gh {
	background-color: #35465c;
}
.red-ig {
	background-color: #bc1888;
}

.red-in:hover {
	color: #0e76a8;
}
.red-gh:hover {
	color: #35465c;
}
.red-ig:hover {
	color: #bc1888;
}

.redSocial:hover i {
	transform: rotate(360deg);
}

.redSocial {
	font-size: 22px;
	width: 48px;
	height: 48px;
	border-radius: 8px;
	color: var(--clr-main);
}
.redSocial:hover {
	background-color: var(--clr-main);
}
/* footer */

/* clima */
.body-clima {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 80px 100px 700px auto;
	grid-template-areas:
		"nav    nav    nav    nav"
		"aside  aside  aside  aside"
		"main   main   main   main"
		"footer footer footer footer";
	background-color: var(--clr-pink);
}

.aside-clima {
	grid-area: aside;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-clima {
	grid-area: main;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.contenido-clima {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--clr-main);
	border-radius: 5px;
	padding: 20px 10px;
	color: var(--clr-pink);
	width: 300px;
	height: 250px;
}

.temperatura {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contenido {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.contenido > img {
	width: 100px;
}

.obtener-clima {
	display: flex;
	flex-direction: column;
	width: 200px;
}

.contenido .obtener-clima > select {
	margin: 10px 0px;
}

.section-opciones {
	margin-top: 20px;
	width: 300px;
	display: flex;
	justify-content: center;
}

.options {
	margin: 5px 0px;
}

.input-enviar {
	margin: 5px 0px;
}

small {
	margin: 3px 0px;
}

.flex {
	display: flex;
	flex-direction: column;
}
/* clima */

@media (max-width: 919px) {
	.body-tienda {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 80px 60px auto auto;
		grid-template-areas:
			"nav    nav    nav    nav"
			"boton  boton  boton  boton"
			"main   main   main   main"
			"footer footer footer footer";
		background-color: var(--clr-pink);
	}
	.aside-tienda {
		position: absolute;
		top: -300px;
		width: 100vw;
		justify-content: center;
		height: fit-content;
		overflow: hidden;
		transition: 0.5s;
		z-index: 9;
	}
	.main-tienda {
		z-index: 8;
	}
	.navbar {
		z-index: 11;
	}
	footer {
		z-index: 1;
	}
	.aside-tienda > .div-botones {
		position: relative;
		margin-top: 0px;
		height: fit-content;
		z-index: 9;
	}
	.aside-tienda > .div-botones > ul {
		padding: 0px;
		position: static;
		margin: 10px 0px;
	}
	.aside-tienda > .div-botones > ul > li > .boton {
		border-radius: 5px;
	}
	.main-tienda > .contenedor-carrito-tienda {
		z-index: 2;
	}
	.main-tienda > .contenedor-carrito-tienda > .producto {
		width: 200px;
		height: 305px;
	}

	/*  */
	.boton-nav {
		grid-area: boton;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--clr-main);
		border-top: white solid 1px;
		z-index: 10;
	}
	.boton-nav > .mostrar-nav {
		background-color: transparent;
		width: 50px;
		height: 40px;
	}
	.height {
		top: 140px;
	}
	/*  */
}
